<template>
  <v-navigation-drawer
    v-model="drawer"
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
  >
    <v-list dense>
      <template v-for="item in items|| []">
        <template v-if="item.children">
          <v-list-group
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
            v-if="$can(item.meta.permission)"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ $t(item.text) }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <template v-for="(child, i) in item.children">
              <v-list-item v-if="$can(child.meta.permission)" :key="i" link>
                <v-list-item-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content @click="goTo(child.path)">
                  <v-list-item-title>
                    {{ $t(child.text) }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list-group>
        </template>
        <template v-else>
          <v-list-item v-if="$can(item.meta.permission)" :key="item.text" link @click="goTo(item.path)">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t(item.text) }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'layouts-navigation',
  props: {
    items: {
      type: Array,
      default: () => ([])
    },
  },
  data: () => ({
    drawer: false
  }),
  methods: {
    goTo(path) {
      if (path) this.$router.push(path);
    }
  }
}
</script>

<style lang="scss" scoped>
.v-navigation-drawer {
  .v-list-group__items {
    .v-list-item__action {
      opacity: 0;
    }
  }
}
</style>