<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="blue darken-3"
    dark
  >
    <v-app-bar-nav-icon @click.stop="handleDrawer"/>
    <v-toolbar-title
      style="width: 300px"
      class="ml-0 pl-4"
    >
        <span class="hidden-sm-and-down">{{$route.meta.label ? $t($route.meta.label) : $route.name}}</span>
    </v-toolbar-title>
    <v-spacer/>
    <!-- <v-btn icon>
        <v-icon>mdi-apps</v-icon>
    </v-btn>
    <v-btn icon>
        <v-icon>mdi-bell</v-icon>
    </v-btn> -->
    <v-menu offset-y>
          <template v-slot:activator="{ on }">
              <v-btn icon large v-on="on">
                  <v-avatar color="orange" size="32" item>
                    <v-img v-if="$Viewer.avatar" :src="$Viewer.avatar"></v-img>
                    <span v-else class="white--text">{{ avatarFio($Viewer) }}</span>
                  </v-avatar>
              </v-btn>
          </template>
          <v-list>
              <v-list-item
                      v-for="(item, index) in userMenu"
                      :key="index"
                      @click="goTo(item.path)"
              >
                  <v-list-item-title class="body-2">{{$t(item.title)}}</v-list-item-title>
              </v-list-item>
          </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import { getUserName } from '@/modules/utils';

export default {
  name: 'layouts-navigation',
  props: {
    userMenu: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    drawer: false,
  }),
  methods: {
    handleDrawer() {
      this.drawer = !this.drawer
      this.$emit('drawer', this.drawer)
    },
    goTo(path) {
        this.$router.push(path);
    },
    avatarFio(item) {
      return getUserName(item, { min: true, default: 'U' });
    },
  }
}
</script>
