<template>
    <v-navigation-drawer
      class="filters-panel"
      v-model="isVisible"
      fixed
      temporary
      right
      width="420"
    >
      <v-list>
        <v-subheader>
          {{$t('title.filters')}}
          <v-icon class="ml-auto cursor-pointer cursor-hover" @click="clear">mdi-close</v-icon>
        </v-subheader>
      </v-list>
      <v-divider></v-divider>
      <v-card tile outlined class="card">
        <v-card-text>
          <slot></slot>
        </v-card-text>
      </v-card>
      <v-divider></v-divider>
      <v-card tile outlined class="card">
        <v-card-text>
          <v-row>
            <v-col>
              <v-btn
                block
                depressed
                color="primary"
                @click="apply"
              >
                {{$t('buttons.apply')}}
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                block
                depressed
                @click="clear"
              >
                {{$t('buttons.clear')}}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-navigation-drawer>
</template>

<script>

export default {
  name: 'FiltersPanel',
  props: ['filters', 'visible'],
  provide () {
    return {
      getPanelValue: this.getValue,
      setPanelValue: this.setValue
    }
  },
  data () {
    return {
      currentFilters: {},
      isVisible: this.visible
    }
  },
  watch: {
    filters: {
      handler: function (val) {
        this.currentFilters = val
        this.$emit('change')
      },
      deep: true
    },
    visible (val) {
      this.isVisible = val
    },
    isVisible () {
      if (this.isVisible) {
        this.$emit('change')
      }
    }
  },
  methods: {
    getValue (prop) {
      return this.filters[prop]
    },
    setValue (prop, value) {
      this.currentFilters[prop] = value
    },
    open () {
      this.$emit('change')
    },
    apply () {
      if (this.vErrors && this.vErrors.items[0]) return
      this.$emit('apply')
      this.$emit('update:filters', this.currentFilters)
      this.$emit('update:visible', false)
    },
    clear () {
      this.$emit('clear')
      this.$emit('update:filters', this.currentFilters)
      this.$emit('update:visible', false)
    },
    close () {
      this.$emit('update:visible', false)
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    border: none;
  }
</style>