<template>
    <div class="input-filter">
        <div class="value-input">
          <v-text-field
            v-model="value"
            :label="label"
            prepend-icon="mdi-message-draw"
            :type="type || 'text'"
          />
        </div>
    </div>
</template>

<script>
import BaseFilter from '@/components/FiltersPanel/BaseFilter'
export default {
  name: 'InputFilter',
  extends: BaseFilter,
  props: ['label', 'type'],
  methods: {
    clearValueHandler () {
      this.setValue(this.property, 'clear')
    }
  }
}
</script>
