<template>
    <div class="input-filter">
        <div class="value-input">
          <v-select
              :items="options"
              item-text="name"
              item-value="id"
              :label="label"
              v-model="value"
            ></v-select>
        </div>
    </div>
</template>

<script>
import BaseFilter from '@/components/FiltersPanel/BaseFilter'
export default {
  name: 'InputFilter',
  extends: BaseFilter,
  props: ['label', 'items'],
  methods: {
    clearValueHandler () {
      this.setValue(this.property, 'clear')
    }
  },
  computed: {
    options () {
      return this.items
    }
  }
}
</script>
