<template>
	<v-snackbar
    top
    v-model="show"
  >
    {{ message }}
  </v-snackbar>
</template>

<script>
	export default {
		name: 'vueNotification',

		data() {
			return {
				show: false,
				message: '',
			};
		},

		methods: {
			add(text) {
				this.set(text);
			},

			hide() {
				this.message = '';
				this.show = false;
			},

			set(text) {
				this.message = text;
				this.show = true;
			}
		},

		watch: {
			'$route' () {
				this.hide();
			}
		}
	};
</script>
