<template>
  <div>
    <div v-show="chart" :ref="`chartdiv-${_uid}`" class="chartdiv"></div>
    <v-alert
      v-if="!chart"
      outlined
      text
      class="mb-0"
      color="deep-orange">
      {{$t('errors.dataNotFound')}}
    </v-alert>
  </div>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core"
import * as am4charts from "@amcharts/amcharts4/charts"
import am4themes_animated from "@amcharts/amcharts4/themes/animated"

am4core.useTheme(am4themes_animated);

export default {
  name: 'GraphModelActivity',
  props: {
    dataProvider: {
      type: Array,
      default: () => ([])
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    dataProvider(val = []) {
      if (val.length) this.createChart(val)
    }
  },
  methods: {
    // @todo Переделать нормально
    createChart(data = []) {
      let chart = am4core.create(this.$refs[`chartdiv-${this._uid}`], am4charts.XYChart)

      const arrangeColumns = () => {
          var series = chart.series.getIndex(0);

          var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
          if (series.dataItems && series.dataItems.length > 1) {
              var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
              var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
              var delta = ((x1 - x0) / chart.series.length) * w;
              if (am4core.isNumber(delta)) {
                  var middle = chart.series.length / 2;

                  var newIndex = 0;
                  chart.series.each(function(series) {
                      if (!series.isHidden && !series.isHiding) {
                          series.dummyData = newIndex;
                          newIndex++;
                      }
                      else {
                          series.dummyData = chart.series.indexOf(series);
                      }
                  })
                  var visibleCount = newIndex;
                  var newMiddle = visibleCount / 2;

                  chart.series.each(function(series) {
                      var trueIndex = chart.series.indexOf(series);
                      var newIndex = series.dummyData;

                      var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                      series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                      series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                  })
              }
          }
      }

      const createSeries = (value, name) => {
        var paretoSeries = chart.series.push(new am4charts.LineSeries())
          paretoSeries.dataFields.valueY = value;
          paretoSeries.dataFields.categoryX = "category";
          paretoSeries.tooltipText = "{valueY}";
          paretoSeries.name = name
          paretoSeries.bullets.push(new am4charts.CircleBullet());
          paretoSeries.strokeWidth = 2;
          paretoSeries.strokeOpacity = 0.5;
          paretoSeries.events.on("hidden", arrangeColumns);
          paretoSeries.events.on("shown", arrangeColumns);

          return paretoSeries;
      }

      chart.colors.step = 2;

      chart.legend = new am4charts.Legend()
      chart.legend.position = 'top'
      chart.legend.paddingBottom = 20
      chart.legend.labels.template.maxWidth = 95

      var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
      xAxis.dataFields.category = 'category'
      xAxis.renderer.cellStartLocation = 0.1
      xAxis.renderer.cellEndLocation = 0.9
      xAxis.renderer.grid.template.location = 0;

      var valueAxis = new am4charts.ValueAxis();

      var yAxis = chart.yAxes.push(valueAxis);
      yAxis.min = 0;

      chart.data = data
      createSeries('first', 'В эксплуатации');
      createSeries('second', 'Тестируемый');

      this.chart = chart;
    }
  },
  beforeDestroy() {
    if (this.chart) this.chart.dispose()
  },
  mounted() {
    if (this.dataProvider && this.dataProvider.length) this.createChart(this.dataProvider)
  }
}
</script>
