<template>
  <div>
    <div v-show="chart" :ref="`chartdiv-${_uid}`" class="chartdiv"></div>
    <v-alert
      v-if="!chart"
      outlined
      text
      class="mb-0"
      color="deep-orange">
      {{$t('errors.dataNotFound')}}
    </v-alert>
  </div>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core"
import * as am4charts from "@amcharts/amcharts4/charts"
import am4themes_animated from "@amcharts/amcharts4/themes/animated"

am4core.useTheme(am4themes_animated);

export default {
  name: 'GraphModelPrecision',
  props: {
    dataProvider: {
      type: Array,
      default: () => ([])
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    dataProvider(val = []) {
      if (val.length) this.createChart(val)
    }
  },
  methods: {
    // @todo Переделать нормально
    createChart(data = []) {
      let chart = am4core.create(this.$refs[`chartdiv-${this._uid}`], am4charts.XYChart)

      const arrangeColumns = () => {
          var series = chart.series.getIndex(0);

          var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
          if (series.dataItems && series.dataItems.length > 1) {
              var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
              var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
              var delta = ((x1 - x0) / chart.series.length) * w;
              if (am4core.isNumber(delta)) {
                  var middle = chart.series.length / 2;

                  var newIndex = 0;
                  chart.series.each((series) => {
                      if (!series.isHidden && !series.isHiding) {
                          series.dummyData = newIndex;
                          newIndex++;
                      }
                      else {
                          series.dummyData = chart.series.indexOf(series);
                      }
                  })
                  var visibleCount = newIndex;
                  var newMiddle = visibleCount / 2;

                  chart.series.each((series) => {
                      var trueIndex = chart.series.indexOf(series);
                      var newIndex = series.dummyData;

                      var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                      series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                      series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                  })
              }
          }
      }

      const createSeries = (value, name) => {
          var series = chart.series.push(new am4charts.ColumnSeries())
          series.dataFields.valueY = value
          series.dataFields.categoryX = 'category'
          series.name = name

          series.events.on("hidden", arrangeColumns);
          series.events.on("shown", arrangeColumns);

          var bullet = series.bullets.push(new am4charts.LabelBullet())
          bullet.interactionsEnabled = false
          bullet.dy = 30;
          bullet.label.text = '{valueY}'
          bullet.label.fill = am4core.color('#ffffff')

          return series;
      }

      chart.colors.step = 2;

      chart.legend = new am4charts.Legend()
      chart.legend.position = 'top'
      chart.legend.paddingBottom = 20
      chart.legend.labels.template.maxWidth = 95

      var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
      xAxis.dataFields.category = 'category'
      xAxis.renderer.cellStartLocation = 0.1
      xAxis.renderer.cellEndLocation = 0.9
      xAxis.renderer.grid.template.location = 0;

      var valueAxis = new am4charts.ValueAxis();

      var yAxis = chart.yAxes.push(valueAxis);
      yAxis.min = 0;

      chart.data = data

      createSeries('second', 'В эксплуатации');
      createSeries('third', 'Тестируемый');

      var lineSeries = chart.series.push(new am4charts.LineSeries());
      lineSeries.name = this.$t('title.fact');
      lineSeries.dataFields.valueY = "first";
      lineSeries.dataFields.categoryX = "category";

      lineSeries.stroke = am4core.color("#fdd400");
      lineSeries.strokeWidth = 3;
      lineSeries.propertyFields.strokeDasharray = "lineDash";
      lineSeries.tooltip.label.textAlign = "middle";
      lineSeries.zIndex = 9999;

      this.chart = chart;
    }
  },
  destroyed() {
    if (this.chart) this.chart.dispose()
  },
  mounted() {
    if (this.dataProvider && this.dataProvider.length) this.createChart(this.dataProvider)
  }
}
</script>
