<template>
	<v-overlay :value="isVisible">
    <v-progress-circular indeterminate size="64"></v-progress-circular>
  </v-overlay>
</template>

<script>
  import { isBoolean } from 'lodash'

	export default {
		name: 'vueLoading',

		data() {
			return {
				isVisible: false
			};
		},

		methods: {
			start(state) {
        if (isBoolean(state)) {
          this.isVisible = state
        } else {
          this.isVisible = false;
        }
      },

      hide() {
        this.isVisible = false;
      },

      show() {
        this.isVisible = true;
      }
		},

		watch: {
			'$route' () {
				this.isVisible = false
			}
		}
	};
</script>
