<i18n>
  {
    "ru": {
      "UserCard": {
        "subheader1": "Личные данные"
      }
    },
    "en": {
      "UserCard": {
        "subheader1": "Personal"
      }
    }
  }
</i18n>

<template>
    <v-card
      class="mx-auto"
      :max-width="maxWidth"
    >
      <template v-if="user">
        <v-row justify="space-around" class="pt-4">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-badge
              avatar
              bordered
              offset-x="22"
              offset-y="22"
              :color="user.status.color"
            >
              <v-avatar color="orange" size="84" v-bind="attrs"
                v-on="on">
                <v-img v-if="user.avatar" :src="user.avatar"></v-img>
                <span v-else class="white--text headline">{{ avatarFio }}</span>
              </v-avatar>
            </v-badge>
          </template>
          <span>{{$t(`personStatus.${user.status.type}`)}}</span>
        </v-tooltip>
        </v-row>
        <v-row justify="center">
          <v-card-title class="text-center">{{user.fio || $t('errors.fioNotFound')}}</v-card-title>
        </v-row>
        <v-row justify="center">
          <v-card-subtitle class="text-center pt-0">{{group}}</v-card-subtitle>
        </v-row>
        <template v-if="user.service && user.service.length">
          <v-divider class="mb-3"></v-divider>
          <v-row justify="center">
            <v-chip
              class="ma-2"
              v-for="(item, index) in user.service"
              :key="index"
            >
              {{ getLocale(item.caption) }}
            </v-chip>
          </v-row>
          <div class="mb-3"></div>
        </template>

        <v-divider></v-divider>

        <v-list disabled>
          <v-subheader>{{ $t('UserCard.subheader1') }}</v-subheader>
          <v-list-item-group color="primary">
            <v-list-item
            >
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ sex }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item
            >
              <v-list-item-icon>
                <v-icon>mdi-calendar</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ user.birth_day }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>

          <v-divider v-if="user.contact"></v-divider>
          <v-list two-line v-if="user.contact">
            <template v-if="user.contact.PHONE">
              <v-list-item v-for="(item, index) in user.contact.PHONE" :key="item._id">
                <v-list-item-icon v-if="!index">
                  <v-icon color="indigo">mdi-phone</v-icon>
                </v-list-item-icon>
                <v-list-item-action v-else></v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>{{ item.value }}</v-list-item-title>
                  <v-list-item-subtitle>{{ $t(`contact.${item.status.toLowerCase()}`) }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </template>

            <template v-if="user.contact.EMAIL">
              <v-list-item v-for="(item, index) in user.contact.EMAIL" :key="item._id">
                <v-list-item-icon v-if="!index">
                  <v-icon color="indigo">mdi-email</v-icon>
                </v-list-item-icon>
                <v-list-item-action v-else></v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>{{ item.value }}</v-list-item-title>
                  <v-list-item-subtitle>{{ $t(`contact.${item.status.toLowerCase()}`) }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
      </template>
      <v-alert v-else type="error">
        {{$t('errors.dataNotFound')}}
      </v-alert>
    </v-card>
</template>

<script>
  import { isEmpty } from 'lodash';
  import { getUserName, getLocale } from '@/modules/utils';

  export default {
    name: 'UserCard',
    props: {
      maxWidth: {
        type: [String, Number]
      },
      user: {
        type: Object,
        default: () => ({})
      }
    },
    data() {
      return {}
    },
    methods: {
      getLocale(data) {
        return getLocale(data)
      }
    },
    computed: {
      group() {
        return isEmpty(this.user.group) ? `${this.$t('title.user')} ${this.$t('userCard.noAuth')}` : this.user.group.map(item => this.$t(`group.${item}`)).join(', ')
      },
      avatarFio() {
        return getUserName(this.user, { min: true, default: 'U' })
      },
      sex() {
        return this.user.sex ? this.$t(`sex.${this.user.sex}`) : '–'
      }
    }
  }
</script>

<style lang="scss" scoped>
  .user-status {
    position: absolute;
    top: 16px;
    right: 16px;
  }
</style>