<template>
	<div class="alert-wrapper" v-if="show">
    <v-row>
      <v-col>
        <v-card>
          <v-alert v-model="show" class="mb-0" type="error" text dismissible>
            {{message}}
          </v-alert>
        </v-card>
      </v-col>
    </v-row>
	</div>
</template>

<script>
  import { getError } from '@/modules/utils';

	export default {
		name: 'vueAlert',

		data() {
			return {
				show: false,
				message: '',
			};
		},

		methods: {
			add(response) {
				this.set(response);
			},

			hide() {
				this.message = '';
				this.show = false;
			},

			set(message) {
				this.message = getError(message);
				this.show = true;
			}
		},

		watch: {
			'$route' () {
				this.hide();
			}
		}
	};
</script>

<style lang="scss" scoped>
  .alert-wrapper {
    width: 100%;
  }
</style>