<i18n>
  {
    "ru": {
      "FormLogin": {
        "title": "Форма авторизации",
        "password": "Пароль",
        "login": "Войти"
      }
    },
    "en": {
      "FormLogin": {
        "title": "Auth form",
        "password": "Password",
        "login": "Login"
      }
    }
  }
</i18n>

<template>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
                <div class="c-loader" v-if="isLoading">
                  <v-progress-circular
                    indeterminate
                    color="primary"
                  ></v-progress-circular>
                </div>
                <v-toolbar color="primary" dark flat>
                    <v-toolbar-title>{{ $t('FormLogin.title') }}</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-alert v-if="error" type="error" text>
                      {{error}}
                    </v-alert>
                    <v-form
                      @submit.prevent="onSubmit"
                      ref="form"
                      v-model="valid"
                    >
                        <v-text-field
                          @keydown.enter.prevent = "onSubmit"
                          v-model="email"
                          :label="$t('title.email')"
                          name="email"
                          prepend-icon="mdi-account"
                          type="email"
                          :rules="validateRules.email"
                          required
                        />

                        <v-text-field
                          @keydown.enter.prevent = "onSubmit"
                          v-model="password"
                          id="password"
                          :label="$t('FormLogin.password')"
                          name="password"
                          prepend-icon="mdi-lock"
                          type="password"
                          :rules="validateRules.password"
                          required
                        />
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn type="submit" color="primary" @click="onSubmit">{{ $t('FormLogin.login') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import { getError } from '@/modules/utils';
import { vuetifyValidator } from '@/modules/vuetify'

export default {
  name: 'LoginForm',
  data() {
    return {
      validateRules: {
        email: [
          vuetifyValidator.required,
          vuetifyValidator.email
        ],
        password: [
          vuetifyValidator.required,
        ]
      },
      valid: false,
      isLoading: false,
      error: '',
      email: '',
      password: ''
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate()
      if (!this.valid) return false;

      this.isLoading = true;
      this.$Viewer.login({
        username: this.email,
        password: this.password
      }).then(() => {
        this.access = this.$Viewer.group;
        this.$nextTick(() => {
          this.$router.push({ name: 'Dashboard' })
        });
      }, err => {
        this.error = getError(err);
      }).finally(() => {
        this.isLoading = false;
      })
    }
  },
}
</script>