<template>
    <v-container class="fill-height align-content-center" fluid>
        <Form></Form>
    </v-container>
</template>

<script>
import Form from "./Form";

export default {
  name: 'Login',
  components: {
    Form,
  },
  created() {
    if (this.$Viewer.isLogged) this.$router.push({ name: 'Dashboard' })
  }
}
</script>
