
<i18n>
  {
    "ru": {
      "ProjectAdd": {
        "title": "Добавить модель"
      }
    },
    "en": {
      "ProjectAdd": {
        "title": "New project"
      }
    }
  }
</i18n>

<template>
  <v-dialog v-model="show" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="clear">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ $t('ProjectAdd.title') }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark text @click="bSaveForm">{{$t('buttons.save')}}</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <div class="c-loader" v-if="isLoading">
      <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </div>
      <v-container>
        <v-row>
          <v-col>
            <v-card v-if="isError" class="mb-4">
              <v-card-text>
                <v-alert v-model="isError" type="error" class="mb-0" text dismissible>
                  {{error}}
                </v-alert>
              </v-card-text>
            </v-card>
            <project-form v-if="model" ref="form" :model="model._data"></project-form>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
  import ProjectForm from './form'
  import { getError } from '@/modules/utils';

  export default {
    name: 'ProjectAdd',
    props: {
      model: {
        type: [Function, Object],
      }
    },
    components: {
      ProjectForm
    },
    data() {
      return {
        show: false,
        error: '',
        isError: false,
        isLoading: false
      }
    },
    watch: {
      model(val) {
        if (val) {
          this.show = true;
        }
      }
    },
    methods: {
      clear() {
        this.$emit('clear', this.model)
      },
      bSaveForm() {
        this.$refs.form.$refs.form.validate()
        if (!this.$refs.form.valid) return false;

        this.isLoading = true;
        this.model.create(this.$refs.form.form).then(() => {
          this.clear()
          this.$vueNotification.add(this.$t('messages.saved'));
        }, err => {
          this.isError = true
          this.error = getError(err)
        }).finally(() => {
          this.isLoading = false
        })
      }
    },
    created() {
      if (this.model) this.show = true;
    }
  }
</script>