<template>
    <v-container>
      <v-form @submit.prevent="onSubmit" ref="form" v-model="valid">
        <v-card
          class="mx-auto"
        >
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.caption"
                  :label="$t('title.caption')"
                  name="caption"
                  prepend-icon="mdi-message-draw"
                  type="text"
                  :rules="validateRules.required"
                  required
                />
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="description"
                  :label="$t('title.text')"
                  prepend-icon="mdi-comment-text-outline"
                  :value="form.description"
                  v-model="form.description"
                  :rules="validateRules.required"
                  required
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card
          class="mx-auto mt-4"
        >
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-select
                    :items="projectModelTypeOptions"
                    prepend-icon="mdi-chart-bar"
                    item-text="name"
                    item-value="id"
                    :label="$t('title.modelType')"
                    :rules="validateRules.required"
                    required
                    v-model="form.model_type"
                  ></v-select>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                    v-if="$route.params.id"
                    :items="projectStatusOptions"
                    prepend-icon="mdi-flash"
                    item-text="name"
                    item-value="id"
                    :label="$t('title.projectStatus')"
                    :rules="validateRules.required"
                    required
                    v-model="form.status"
                  ></v-select>
              </v-col>
              <v-col cols="12" md="6">
                  <v-text-field
                    v-model="form.employee"
                    :label="$t('title.employee')"
                    name="employee"
                    prepend-icon="mdi-account"
                    type="text"
                  />
              </v-col>
              <v-col cols="12" md="6">
                  <v-text-field
                    v-model="form.employee_contact"
                    :label="$t('title.employeeContact')"
                    name="employee_contact"
                    prepend-icon="mdi-account-star"
                    type="text"
                  />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                    v-model="form.target_caption"
                    :label="$t('title.target_caption')"
                    name="target_caption"
                    type="text"
                    prepend-icon="mdi-chart-bar"
                  />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.target_value"
                  :label="$t('title.target_value')"
                  name="target_value"
                  type="number"
                  prepend-icon="mdi-chart-bar"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-form>
    </v-container>
</template>

<script>
  import { cloneDeep, map } from 'lodash';
  import { vuetifyValidator } from '@/modules/vuetify';
  import { PROJECT_MODEL_TYPE, PROJECT_STATUS_TYPE } from '@/modules/constants';

  export default {
    name: 'ProjectForm',
    props: {
      model: {
        type: Object,
        default: () => ({})
      }
    },
    data() {
      return {
        validateRules: {
          required: [
            vuetifyValidator.required
          ],
        },
        valid: false,
        form: cloneDeep(this.model)
      }
    },
    computed: {
      projectModelTypeOptions() {
        return map(PROJECT_MODEL_TYPE, val => ({ id: val, name: this.$t(`modelType.${val}`) }))
      },
      projectStatusOptions() {
        return map(PROJECT_STATUS_TYPE, val => ({ id: val, name: this.$t(`projectStatus.${val}`) }))
      }
    },
    methods: {
      onSubmit() {
        this.$refs.form.validate()
        if (!this.valid) return false;
        const form = cloneDeep(this.form)

        this.$emit('save', form)
      }
    }
  }
</script>