<template>
    <v-row>
      <v-btn bottom color="pink" dark fab fixed right @click="bCreate">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <project-add
          v-if="newModel"
          :model="newModel"
          @clear="dialogClear"
        ></project-add>

      <v-col cols="12">
        <v-card>
          <v-card-text>
            <filters-panel
              :filters="filters"
              :visible.sync="filterPanelVisible"
              @update:visible="filterPanelVisible = false"
              @update:filters="updateFilters"
              @clear="clearFilters"
            >
              <select-filter property="status" :label="$t('title.projectStatus')" :items="projectStatusOptions"></select-filter>
              <select-filter property="is_deleted" :label="$t('title.deleted')" :items="projectDeletedOptions"></select-filter>
              <input-filter property="caption" :label="$t('title.caption')"></input-filter>
            </filters-panel>
            <v-btn
                depressed
                color="primary"
                @click="filterPanelVisible=true"
              >
                {{$t('title.filters')}}
              </v-btn>
          </v-card-text>
        </v-card>
      </v-col>

      <template v-if="list && list.length">
        <v-col cols="12" class="cursor-pointer" v-for="item in list" :key="item.id">
          <v-hover
            v-slot="{ hover }"
            open-delay="200"
          >
            <v-card
              :elevation="hover ? 5 : 2"
              :class="{ 'on-hover': hover, 'error-border': item.target_error }"
              @click="goTo(item.id)"
            >
              <v-card-text class="pb-0">
                {{ item.created_at }}
              </v-card-text>

              <v-card-title class="pb-2 pt-0">
              {{item.caption}}
              <v-chip v-if="item.status" class="ml-auto" :color="item.status.color" small>
                {{item.status.type ? $t(`projectStatus.${item.status.type}`) : $t(`projectStatus[0]`)}}
              </v-chip>
              </v-card-title>

              <v-card-text class="text--primary">
                {{item.description}}
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </template>
      <v-col cols="12" v-else>
        <v-card>
          <v-card-text>
            <v-alert
              outlined
              text
              class="mb-0"
              color="deep-orange">
              {{$t('errors.dataNotFound')}}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
</template>

<script>
import { map, clone } from 'lodash'
import { ProjectModel } from '@/models';
import ProjectAdd from '@/views/Project/add'
import FiltersPanel from '@/components/FiltersPanel/FiltersPanel'
import SelectFilter from '@/components/FiltersPanel/SelectFilter'
import InputFilter from '@/components/FiltersPanel/InputFilter'
import { PROJECT_MODEL_TYPE, PROJECT_STATUS_TYPE, IS_DELETED } from '@/modules/constants';

const DEFAULT_QUERY = {
  caption: '',
  status: null,
  is_deleted: IS_DELETED.NOT_DELETED
}

export default {
  name: 'ProjectList',
  components: {
    ProjectAdd,
    FiltersPanel,
    SelectFilter,
    InputFilter
  },
  data() {
    return {
      list: [],
      newModel: null,
      filterPanelVisible: false,
      filters: clone(DEFAULT_QUERY)
    }
  },
  computed: {
    projectModelTypeOptions() {
      return map(PROJECT_MODEL_TYPE, val => ({ id: val, name: this.$t(`modelType.${val}`) }))
    },
    projectStatusOptions() {
      return map(PROJECT_STATUS_TYPE, val => ({ id: val, name: this.$t(`projectStatus.${val}`) }))
    },
    projectDeletedOptions() {
      return map(IS_DELETED, val => ({ id: val, name: this.$t(`isDeleted.${val}`) }))
    }
  },
  methods: {
    goTo(id) {
      this.$router.push({
        name: 'ProjectView',
        params: {
          id
        }
      })
    },
    bCreate() {
      this.newModel = new ProjectModel()
    },
    getList(query = {}) {
      this.$vueLoading.show()
      ProjectModel.list(query).then(res => {
        this.list = res;
      }, err => {
        this.$vueAlert.add(err);
      }).finally(() => {
        this.$vueLoading.hide()
      });
    },
    dialogClear() {
      this.getList(this.filters)
      this.newModel = null;
    },
    updateFilters(val) {
      this.filters = val
      this.getList(this.filters)
    },
    clearFilters() {
      this.filters = clone(DEFAULT_QUERY)
      this.getList(this.filters)
    }
  },
  created() {
    // @todo прокидывать автоматом
    ProjectModel.headers({
      'Authorization': this.$Viewer.token
    });

    this.getList(this.filters)
  }
}
</script>

<style scoped>
.error-border {
  border: 1px solid #FF7043;
}
</style>