<i18n>
  {
    "ru": {
      "ProjectView": {
        "mlNotFound": "Загрузите новые версии моделей в каталог синхронизации файлов"
      }
    },
    "en": {
      "ProjectView": {
        "mlNotFound": "ML not found"
      }
    }
  }
</i18n>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <template v-if="model">
          <v-card :class="{ 'error-border': model && model.target_error }">
            <v-btn bottom color="pink" dark fab fixed right @click="bEdit" v-if="model && !model.is_deleted">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <project-edit
              v-if="dialogEdit"
              :model="dialogEdit"
              @clear="dialogClear"
            ></project-edit>
            <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{ $t('title.info') }}
                <v-chip v-if="model.status" class="ml-auto" :color="model.status.color" small>
                  {{model.status.type ? $t(`projectStatus.${model.status.type}`) : $t(`projectStatus[0]`)}}
                </v-chip>
              </v-subheader>
              <v-divider></v-divider>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>{{ model.caption }}</v-list-item-title>
                  <v-list-item-subtitle>{{ model.description }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>{{ $t('title.employee') }}</td>
                    <td class="text-right">{{ model.employee }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('title.employeeContact') }}</td>
                    <td class="text-right">{{ model.employee_contact }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('title.createdAt') }}</td>
                    <td class="text-right">{{ model.created_at }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('title.updatedAt') }}</td>
                    <td class="text-right">{{ model.updated_at }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
          <v-card class="mt-4">
            <input-array-fields
              :title="$t('title.MLversion')"
              :items="mapModel"
              @edit="modelEdit"
              @delete="modelDelete"
              @cancel="modelCancel"
              @save="modelSave"
            >
              <v-alert v-if="modelForm.error" type="error" class="mt-4" text dismissible>
                {{modelForm.error}}
              </v-alert>
              <v-form class="mt-4" ref="form-model" v-model="modelForm.valid">
                <v-text-field
                  v-if="modelForm.id"
                  disabled
                  v-model="modelForm.version"
                  :label="$t('title.MLversion')"
                  name="version"
                  type="text"
                  :rules="validateRules.required"
                  required
                />
                <v-select
                  :items="mlFileOptions"
                  v-model="modelForm.version"
                  :label="$t('title.MLversion')"
                  :rules="validateRules.required"
                  required
                ></v-select>
                <v-text-field
                  v-model="modelForm.value"
                  :label="$t('title.caption')"
                  name="caption"
                  type="text"
                  :rules="validateRules.required"
                  required
                />
                <v-select
                    :items="mlStatusOptions"
                    item-text="name"
                    item-value="id"
                    v-model="modelForm.status"
                    :label="$t('title.status')"
                    :rules="validateRules.required"
                  ></v-select>
              </v-form>
            </input-array-fields>
          </v-card>
        </template>
        <v-card v-else>
          <v-card-text>
            <v-alert
              outlined
              text
              class="mb-0"
              color="deep-orange">
              {{$t('errors.dataNotFound')}}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{$t('graph.roc_auc')}}
              </v-subheader>
          </v-list>
          <v-divider></v-divider>
          <v-card-text>
            <graph-model-quality :target="targetValue" :data-provider="graph.rocAuc.data"></graph-model-quality>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{$t('graph.precision')}}
              </v-subheader>
          </v-list>
          <v-divider></v-divider>
          <v-card-text>
            <graph-model-precision :data-provider="graph.precision.data"></graph-model-precision>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{$t('graph.customerChurn')}}
              </v-subheader>
          </v-list>
          <v-divider></v-divider>
          <v-card-text>
            <graph-model-customer-churn :data-provider="graph.customerChurn.data"></graph-model-customer-churn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { ProjectModel, MlModel } from '@/models';
import ProjectEdit from '@/views/Project/edit'
import { clone, map, isEmpty } from 'lodash'
import { vuetifyValidator } from '@/modules/vuetify'
import InputArrayFields from '@/components/InputArrayFields'
import { PROJECT_STATUS_ML } from '@/modules/constants';
import api from '@/modules/api'
import { getError } from '@/modules/utils'
import GraphModelQuality from '@/components/graph/GraphModelQuality'
import GraphModelPrecision from '@/components/graph/GraphModelPrecision'
import GraphModelCustomerChurn from '@/components/graph/GraphModelCustomerChurn'
import axios from 'axios'

const FORM_MODEL = {
    id: '',
    value: '',
    target_caption: '',
    target_value: '',
    status: PROJECT_STATUS_ML.TESTING,
    valid: false,
    error: ''
  }

export default {
  name: 'ProjectView',
  components: {
    ProjectEdit,
    InputArrayFields,
    GraphModelQuality,
    GraphModelPrecision,
    GraphModelCustomerChurn
  },
  data() {
    return {
      graph: {
        rocAuc: {
          data: null
        },
        precision: {
          data: null
        },
        customerChurn: {
          data: null
        }
      },
      model: null,
      dialogEdit: null,
      modelForm: clone(FORM_MODEL),
      validateRules: {
        required: [
          vuetifyValidator.required
        ]
      },
      mlFileOptions: []
    }
  },
  computed: {
    targetValue() {
      if (this.model) {
        return {
          target_caption: this.model.target_caption,
          target_value: this.model.target_value
        }
      }
      return {}
    },
    mlStatusOptions() {
      return map(PROJECT_STATUS_ML, val => ({ id: val, name: this.$t(`mlStatus.${val}`) }))
    },
    mapModel() {
      if (this.model && this.model.ver_model) {
        return this.model.ver_model.map(item => {
          item.value = `${item.caption} (${this.$t('title.version')} ${item.version})`
          item.subtitle = `${this.$t('title.lastTest')} ${item.last_test}, ${this.$t('title.dataWeight')} ${item.data_weight}`
          return item
        })
      }
      return []
    }
  },
  methods: {
    bEdit() {
      this.dialogEdit = this.model
    },
    dialogClear() {
      this.dialogEdit = null;
      this.getProject()
    },
    getProject(query = {}) {
      return new Promise((resolve, reject) => {
         Promise.all([
          axios.get(api.ML), // @todo MlModel.list() в билде почему то кривой урл, нет времени разбираться
          ProjectModel.get(Object.assign(query, { id: this.$route.params.id }))
        ]).then(([ml, project]) => {
          ml = ml.data.data.map(item => new MlModel(item))
          this.model = project
          this.model.ver_model = (this.model.ver_model || []).map(item => ml.find(el => el.version === item)).filter(item => item)
          resolve(this.model)
        }, err => {
          this.$vueAlert.add(err);
          reject(err)
        });
      })
    },
    modelEdit(model) {
      this.modelForm.id = model.id
      this.modelForm.value = model.caption
      this.modelForm.status = model.status.type
      this.modelForm.target_caption = model.target_caption
      this.modelForm.target_value = model.target_value
      this.modelForm.version = model.version
    },
    modelDelete(item) {
      this.$vueLoading.show()
      axios.delete(api.ML + '/' + item.id).then(() => {
        this.modelForm = clone(FORM_MODEL)
        this.getProject().finally(() => {
          this.$vueLoading.hide()
        })
      }, err => {
        this.$vueLoading.hide()
        this.$vueAlert.add(err);
      })
    },
    modelSave() {
      const { id } = this.modelForm

      if (!id) {
        axios.post(api.ML, {
          project_id: this.$route.params.id,
          caption: this.modelForm.value,
          target_caption: this.modelForm.target_caption,
          target_value: this.modelForm.target_value,
          status: this.modelForm.status,
          version: this.modelForm.version
        }).then(() => {
          this.getProject().finally(() => {
            this.$vueLoading.hide()
          })
        }, err => {
          this.$vueLoading.hide()
          this.modelForm.error = getError(err)
        })
      }

      if (id) {
        let find = this.model._data.ver_model.find(item => (item.id || item._id) === id)
        if (find) {
          axios.put(api.ML + '/' + find.id, {
            project_id: find.project_id,
            caption: this.modelForm.value,
            target_caption: this.modelForm.target_caption,
            target_value: this.modelForm.target_value,
            status: this.modelForm.status,
            version: this.modelForm.version
          }).then(() => {
            this.getProject().finally(() => {
              this.$vueLoading.hide()
            })
          }, err => {
            this.$vueLoading.hide()
            this.modelForm.error = getError(err)
          })
        }
      }
    },
    modelCancel() {
      this.modelForm = clone(FORM_MODEL)
    },
  },
  created() {
    // @todo прокидывать автоматом
    ProjectModel.headers({
      'Authorization': this.$Viewer.token
    });
    this.$vueLoading.show()
    Promise.all([
      api.ML_FILE.get({
        project_id: this.$route.params.id
      }),
      api.GRAPH.getRocAuc({
        project_id: this.$route.params.id
      }),
      api.GRAPH.getPrecision({
        project_id: this.$route.params.id
      }),
      api.GRAPH.getCustomerChurn({
        project_id: this.$route.params.id
      }),
      this.getProject()
    ]).then(([file, rocAuc, precision, customerChurn]) => {
      this.mlFileOptions = file.data.data
      if (isEmpty(this.mlFileOptions)) this.modelForm.error = this.$t('ProjectView.mlNotFound')
      if (rocAuc.data.data) this.graph.rocAuc.data = rocAuc.data.data
      if (precision.data.data) this.graph.precision.data = precision.data.data
      if (customerChurn.data.data) this.graph.customerChurn.data = customerChurn.data.data
    }).catch(err => {
      this.$vueAlert.add(err);
    }).finally(() => {
      this.$vueLoading.hide()
    })
  }
}
</script>

<style scoped>
.error-border {
  border: 1px solid #FF7043;
}
</style>