.c-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}