<i18n>
  {
    "ru": {
      "dashboard": {
        "all_count": "Всего моделей",
        "bad_count": "Моделей с плохим показателем качества",
        "prod_count": "Моделей в эксплуатации",
        "test_count": "Моделей в тестировании"
      }
    },
    "en": {
      "dashboard": {
        "all_count": "All models",
        "bad_count": "Bad models",
        "prod_count": "Active bad",
        "test_count": "Моделей в тестировании"
      }
    }
  }
</i18n>

<template>
  <v-container>
    <!-- mdi-check-all
mdi-play-circle
mdi-pause-circle
mdi-exclamation -->
    <v-row>
      <v-col cols="12" md="6" v-for="(item, index) in model.common" :key="index">
        <v-card>
          <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{$t(`dashboard.${index}`)}}
              </v-subheader>
          </v-list>
          <v-divider></v-divider>
          <v-card-text>
            <v-row align="center">
              <v-col
                class="display-3"
                cols="12"
              >
                {{item}}
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <v-list
              three-line
              subheader
            >
              <v-subheader class="subheader">
                {{$t('graph.activity')}}
              </v-subheader>
          </v-list>
          <v-divider></v-divider>
          <v-card-text>
            <graph-model-activity :data-provider="model.data"></graph-model-activity>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import api from '@/modules/api'
import GraphModelActivity from '@/components/graph/GraphModelActivity'

export default {
  data() {
    return {
      model: {
        data: null,
        common: null
      }
    }
  },
  components: {
    GraphModelActivity
  },
  created() {
    this.$vueLoading.show()
    api.GRAPH.dashboard().then(({data}) => {
      this.model = data
    }, err => {
      this.$vueAlert.add(err);
    }).finally(() => {
      this.$vueLoading.hide()
    })
  }
}
</script>