<i18n>
  {
    "ru": {
      "ErrorPage": {
        "desk": "Страница не найдена или возникла ошибка.",
        "type": "Упс, 404",
        "to": "На главную"
      }
    },
    "en": {
      "ErrorPage": {
        "desk": "Page not found",
        "type": "Ops, 404",
        "to": "На главную"
      }
    }
  }
</i18n>

<template>
    <v-row align="center">
      <v-col>
        <h1 class="display-2 primary--text">{{ $t('ErrorPage.type') }}</h1>

        <p>{{ $t('ErrorPage.desk') }}</p>

        <v-btn
          :to="{ name: 'Dashboard' }"
          color="primary"
          outlined
        >
          {{ $t('ErrorPage.to') }}
        </v-btn>
      </v-col>
    </v-row>
</template>

<script>
    export default {
        name: 'Error',
    }
</script>
