<template>
    <v-row>
      <v-col>
        <user-card :user="$Viewer"></user-card>
      </v-col>
    </v-row>
</template>

<script>
  import UserCard from '@/components/UserCard'

  export default {
    name: 'Profile',
    components: {
      UserCard
    },
    data() {
     return {}
    }
  }
</script>
