<i18n>
  {
    "ru": {
      "ProfileSettings": {
        "lang": "Язык"
      }
    },
    "en": {
      "ProfileSettings": {
        "lang": "Language"
      }
    }
  }
</i18n>

<template>
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>
            {{ $t('ProfileSettings.lang') }}
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <lang-change />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
</template>

<script>
  import LangChange from '@/components/LangChange'

  export default {
    name: 'ProfileSettings',
    components: {
      LangChange
    }
  }
</script>
