<template>
  <div>
    <v-list subheader v-if="list">
      <template v-if="hasTitleSlot">
        <slot name="title"></slot>
      </template>
      <template v-else>
        <v-subheader v-if="title">{{title}}</v-subheader>
      </template>
      <template v-for="(item, index) in list">
        <v-list-item
          :key="item.index"
        >
          <v-list-item-content @click="bEdit(item, index)">
            <v-list-item-title v-text="item.value"></v-list-item-title>
            <v-list-item-subtitle v-if="item.subtitle">{{ item.subtitle }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-chip v-if="item.status" class="ml-auto mr-4" :color="item.status.color" small>
            {{item.status.text}}
          </v-chip>

          <v-list-item-icon @click="bEdit(item, index)">
            <v-icon>mdi-pencil</v-icon>
          </v-list-item-icon>
          <v-list-item-icon @click="bDelete(item, index)">
            <v-icon>mdi-delete</v-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-divider
          v-if="index + 1 < list.length"
          :key="index"
        ></v-divider>
      </template>
    </v-list>
    <v-alert
        v-else
        outlined
        text
        color="deep-orange">
        {{$t('errors.dataNotFound')}}
      </v-alert>
    <v-dialog v-model="dialog">
      <template v-slot:activator="{ on, attrs }">
        <div>
          <v-divider></v-divider>
          <v-btn
            class="mt-4 mb-4 ml-4 mr-4"
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            {{ $t('buttons.add') }}
          </v-btn>
        </div>
      </template>
      <v-card>
        <v-card-title v-if="title">{{title}}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <slot></slot>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn text color="primary" @click="bCancel">{{$t('buttons.cancel')}}</v-btn>
          <v-btn text @click="bSave">{{$t('buttons.save')}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  export default {
    name: 'InputArrayFields',
    props: {
      title: String,
      items: Array
    },
    data() {
      return {
        list: this.setList(this.items),
        dialog: false
      }
    },
    computed: {
      hasTitleSlot () {
        return !!this.$slots['title']
      }
    },
    watch: {
      items(val) {
        this.list = this.setList(val)
      }
    },
    methods: {
      bCancel() {
        this.dialog = false
        this.$emit('cancel')
      },
      bSave() {
        this.dialog = false
        this.$emit('save')
      },
      bEdit(item, index) {
        this.list.forEach((item, i) => item.edit = (index === i) ? true : false)
        this.dialog = true
        this.$emit('edit', item)
      },
      bDelete(item) {
        this.$emit('delete', item)
      },
      setList(data = []) {
        return data.map(item => {
          item.edit = false;
          return item;
        });
      }
    }
  }
</script>
