<i18n>
  {
    "ru": {
      "settings": {
        "langLabel": "Выбор языка"
      }
    },
    "en": {
      "settings": {
        "langLabel": "Language"
      }
    }
  }
</i18n>

<template>
  <v-select
    v-model="settings.lang"
    :items="handbook.lang"
    item-text="text"
    item-value="value"
    :label="$t('settings.langLabel')"
    @change="langChange"
  ></v-select>
</template>

<script>
  import { LANG } from '@/modules/constants';
  import { map } from 'lodash';
  import Locale from '@/modules/Locale'

  export default {
    name: 'LangChange',
    data() {
      return {
        settings: {
          lang: ''
        },
        handbook: {
          lang: this.getLangList()
        }
      }
    },
    methods: {
      getLangList() {
        return map(LANG, value => ({ text: this.$t(`lang.${value}`), value }))
      },
      langChange(val) {
        if (val && LANG[val.toUpperCase()]) {
          Locale.set(val, this);
          this.handbook.lang = this.getLangList();
        }
      }
    },
    created() {
      this.settings.lang = Locale.current();
    }
  }
</script>
