<template>
	<v-app class="app">
    <Navigation ref="navigation" :items="nav.sidebar"></Navigation>
    <Topbar :userMenu="nav.userMenu" v-on:drawer="handleDrawer"></Topbar>
    <v-main>
        <v-container class="fill-height align-content-start" fluid>
          <vueLoading/>
          <vueAlert/>
          <vueNotification/>
          <router-view/>
        </v-container>
    </v-main>
  </v-app>
</template>

<script>
import nav from '@/_nav'
import Navigation from './components/navigation'
import Topbar from './components/topbar'

export default {
    name: 'layouts-full',
    components: {
      Navigation,
      Topbar
    },
    data: () => ({
      nav
    }),
    methods: {
      handleDrawer(e) {
        this.$refs.navigation.drawer = e;
      },
      goTo(path) {
        this.$router.push(path);
      }
    }
}
</script>
