<template>
    <v-container class="fill-height align-content-center" fluid>
      <router-view></router-view>
    </v-container>
</template>

<script>
	export default {
		name: 'layouts-single',
		data () {
			return {};
		}
	};
</script>

<style lang="scss">
</style>
