<template>
  <div style="width: 100%">
    <div class="c-loader" v-if="isLoading">
    <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
    </div>
    <template v-else>
      <v-alert v-if="error" type="error" text>
          {{error}}
        </v-alert>
    </template>
  </div>
</template>

<script>
import { getError } from '@/modules/utils';

export default {
  name: 'Logout',
  data() {
    return {
      isLoading: true,
      error: ''
    }
  },
  created() {
    this.$Viewer.logout().then(() => {
      this.$router.push({ name: 'login' })
    }, err => {
      this.error = getError(err);
    })
  }
}
</script>
